process {
    executor = 'slurm'
    queue = 'genomics'
    clusterOptions = '-A adelab --qos=adelab'

    cpus   = 4
    memory = '16 GB'
    time   = '6h'

    withName: 'BWAMEM2_MEM|BWA_MEM' {
        cpus   = 16
        memory = '64 GB'
        time   = '12h'
    }

    withName: 'GATK4_MARKDUPLICATES' {
        cpus   = 8
        memory = '32 GB'
        time   = '8h'
    }

    withName: 'GATK4_BASERECALIBRATOR' {
        cpus   = 4
        memory = '16 GB'
        time   = '6h'
    }

    withName: 'GATK4_APPLYBQSR' {
        cpus   = 4
        memory = '16 GB'
        time   = '6h'
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
        cpus   = 4
        memory = '16 GB'
        time   = '12h'
    }

    withName: 'GATK4_GENOMICSDBIMPORT' {
        cpus   = 4
        memory = '32 GB'
        time   = '24h'
    }

    withName: 'GATK4_GENOTYPEGVCFS' {
        cpus   = 4
        memory = '16 GB'
        time   = '12h'
    }

    withName: 'GATK4_VARIANTRECALIBRATOR' {
        cpus   = 4
        memory = '16 GB'
        time   = '6h'
    }

    withName: 'FASTQC' {
        cpus   = 4
        memory = '8 GB'
        time   = '2h'
    }
}

executor {
    queueSize       = 20
    submitRateLimit = '1 sec'
}
